@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-1FmVeIwulq8Z: 16px;
  --plasmic-token-h-2: var(--token-1FmVeIwulq8Z);
  --token-ZIFCrJhIsE1W: #2a2b37;
  --plasmic-token-neutral-900: var(--token-ZIFCrJhIsE1W);
  --token-OfbaXcC0FuxZ: #383848;
  --plasmic-token-neutral-800: var(--token-OfbaXcC0FuxZ);
  --token-E9L6J34Bnp3r: #48485c;
  --plasmic-token-neutral-700: var(--token-E9L6J34Bnp3r);
  --token-new1RvCsAYAL: #5c5d76;
  --plasmic-token-neutral-600: var(--token-new1RvCsAYAL);
  --token-E6sdL-9TKQpo: #656682;
  --plasmic-token-neutral-500: var(--token-E6sdL-9TKQpo);
  --token-tUUkLZPxiCWP: #84859b;
  --plasmic-token-neutral-400: var(--token-tUUkLZPxiCWP);
  --token-TSE12ZCW865t: #9898ab;
  --plasmic-token-neutral-300: var(--token-TSE12ZCW865t);
  --token-fqErKOGiTiET: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-fqErKOGiTiET);
  --token-0iMiodV3EAdf: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-0iMiodV3EAdf);
  --token-h9p5hqjikZpB: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-h9p5hqjikZpB);
  --token-AwHdnM-G9SSe: 14px;
  --plasmic-token-body-small: var(--token-AwHdnM-G9SSe);
  --token-Qi3kRUbSwaHt: 20px;
  --plasmic-token-body-small-2: var(--token-Qi3kRUbSwaHt);
  --token-5B_ZukOPkcjo: #01471e;
  --plasmic-token-success-text: var(--token-5B_ZukOPkcjo);
  --token-11LD4ZWAwvRO: #dffbea;
  --plasmic-token-success-bg: var(--token-11LD4ZWAwvRO);
  --token-LhZapq1AaIth: #aff5cb;
  --plasmic-token-success-200: var(--token-LhZapq1AaIth);
  --token-YptKu9LgTg3C: #87efb1;
  --plasmic-token-success-300: var(--token-YptKu9LgTg3C);
  --token--bcUtW3inZov: #5fea97;
  --plasmic-token-success-400: var(--token--bcUtW3inZov);
  --token-YuvtdozQ4goC: #37e57d;
  --plasmic-token-success-500: var(--token-YuvtdozQ4goC);
  --token-_ddG2PK_MC6M: #24bf63;
  --plasmic-token-success-600: var(--token-_ddG2PK_MC6M);
  --token-Bu0HnnFdfmBx: #159649;
  --plasmic-token-success-700: var(--token-Bu0HnnFdfmBx);
  --token-eGoeGGFIPDX1: #096e32;
  --plasmic-token-success-800: var(--token-eGoeGGFIPDX1);
  --token-C4BNH-GZAq4_: #d7faf8;
  --plasmic-token-secondary-100: var(--token-C4BNH-GZAq4_);
  --token-GRDuD9SSASpU: #aff5f0;
  --plasmic-token-secondary-200: var(--token-GRDuD9SSASpU);
  --token-aGEvsaH_YRjx: #87efe8;
  --plasmic-token-secondary-300: var(--token-aGEvsaH_YRjx);
  --token-uf3hLxXCLLBZ: #5feae1;
  --plasmic-token-secondary-400: var(--token-uf3hLxXCLLBZ);
  --token-sMqkj8nlhrVM: #37e5db;
  --plasmic-token-secondary-500: var(--token-sMqkj8nlhrVM);
  --token-5q7KYYR70-0a: #24bfb5;
  --plasmic-token-secondary-600: var(--token-5q7KYYR70-0a);
  --token-TS8GKTdFe_EG: #15968e;
  --plasmic-token-secondary-700: var(--token-TS8GKTdFe_EG);
  --token-vAHWc5ZwiZv7: #096e67;
  --plasmic-token-secondary-800: var(--token-vAHWc5ZwiZv7);
  --token-l5nlb5-xvGH6: #014743;
  --plasmic-token-secondary-900: var(--token-l5nlb5-xvGH6);
  --token-PKmIx0zW9re1: #d8d8fa;
  --plasmic-token-primary-100: var(--token-PKmIx0zW9re1);
  --token-0QMb1x-DflQz: #b0b1f4;
  --plasmic-token-primary-200: var(--token-0QMb1x-DflQz);
  --token-_OuUyLwRFv9J: #898bef;
  --plasmic-token-primary-300: var(--token-_OuUyLwRFv9J);
  --token-DF7bsqHuWWta: #6164e9;
  --plasmic-token-primary-400: var(--token-DF7bsqHuWWta);
  --token-ntAQXRaIEOvS: #3a3de4;
  --plasmic-token-primary-500: var(--token-ntAQXRaIEOvS);
  --token-BD7WsA8xqAtG: #2225bf;
  --plasmic-token-primary-600: var(--token-BD7WsA8xqAtG);
  --token-U5cA1puRJfXg: #141696;
  --plasmic-token-primary-700: var(--token-U5cA1puRJfXg);
  --token-zZfCH9fRpl0b: #08096e;
  --plasmic-token-primary-800: var(--token-zZfCH9fRpl0b);
  --token-Odt0CJb2wE8_: #010347;
  --plasmic-token-primary-900: var(--token-Odt0CJb2wE8_);
  --token-pfFA2Konk-f3: #f2f3fd;
  --plasmic-token-primary-050: var(--token-pfFA2Konk-f3);
  --token-rlSLVIyAMKK_: #faf6d7;
  --plasmic-token-warning-100: var(--token-rlSLVIyAMKK_);
  --token-rTN9Fyn_4-GG: #f5eeaf;
  --plasmic-token-warning-200: var(--token-rTN9Fyn_4-GG);
  --token-CDfHKU2tHZNN: #efe587;
  --plasmic-token-warning-300: var(--token-CDfHKU2tHZNN);
  --token-kfaNmqrGXszS: #eadd5f;
  --plasmic-token-warning-400: var(--token-kfaNmqrGXszS);
  --token-dE2FNtAFzktb: #e5d437;
  --plasmic-token-warning-500: var(--token-dE2FNtAFzktb);
  --token-dm-oY7LCdXNY: #bfb024;
  --plasmic-token-warning-600: var(--token-dm-oY7LCdXNY);
  --token-eiwrf6X_TALx: #998c15;
  --plasmic-token-warning-700: var(--token-eiwrf6X_TALx);
  --token-iGd-I-aScN7Q: #6e6408;
  --plasmic-token-warning-800: var(--token-iGd-I-aScN7Q);
  --token-P1ROx3h2hHMo: #383302;
  --plasmic-token-warning-900: var(--token-P1ROx3h2hHMo);
  --token-DalVut0Z6DY1: #fad7d7;
  --plasmic-token-danger-100: var(--token-DalVut0Z6DY1);
  --token-HwvdC--4oWNz: #f18787;
  --plasmic-token-danger-300: var(--token-HwvdC--4oWNz);
  --token-FSBlH66sm24Y: #f6afaf;
  --plasmic-token-danger-200: var(--token-FSBlH66sm24Y);
  --token-IHOFFXJYISLD: #ed6060;
  --plasmic-token-danger-400: var(--token-IHOFFXJYISLD);
  --token-z2GZYctDGdDk: #e83838;
  --plasmic-token-danger-500: var(--token-z2GZYctDGdDk);
  --token-aqJC0oJuD578: #c22525;
  --plasmic-token-danger-600: var(--token-aqJC0oJuD578);
  --token-b8qgh-KFzq0a: #9c1616;
  --plasmic-token-danger-700: var(--token-b8qgh-KFzq0a);
  --token-PkvpAn83wGgf: #6b0707;
  --plasmic-token-danger-800: var(--token-PkvpAn83wGgf);
  --token-wxhOfHFHCHmN: #360202;
  --plasmic-token-danger-900: var(--token-wxhOfHFHCHmN);
  --token-SaNDWrlvodlc: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-SaNDWrlvodlc);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-m6SKYzEzE1sQ_font-family: "Inter", sans-serif;
  --mixin-m6SKYzEzE1sQ_font-size: 14px;
  --mixin-m6SKYzEzE1sQ_font-weight: 400;
  --mixin-m6SKYzEzE1sQ_font-style: normal;
  --mixin-m6SKYzEzE1sQ_color: var(--token-TSE12ZCW865t);
  --mixin-m6SKYzEzE1sQ_text-align: left;
  --mixin-m6SKYzEzE1sQ_text-transform: none;
  --mixin-m6SKYzEzE1sQ_line-height: 21px;
  --mixin-m6SKYzEzE1sQ_letter-spacing: -0.6%;
  --mixin-m6SKYzEzE1sQ_white-space: pre-wrap;
  --mixin-m6SKYzEzE1sQ_user-select: text;
  --mixin-m6SKYzEzE1sQ_text-decoration-line: none;
  --mixin-m6SKYzEzE1sQ_text-overflow: clip;
  --mixin-5TzxIHY96QTY_color: var(--token-ZIFCrJhIsE1W);
  --mixin-5TzxIHY96QTY_font-weight: 600;
  --mixin-5TzxIHY96QTY_font-size: 26px;
  --mixin-5TzxIHY96QTY_line-height: 32px;
  --mixin-5TzxIHY96QTY_letter-spacing: -1%;
  --mixin-5TzxIHY96QTY_white-space: pre-wrap;
  --mixin-19jEIW3Fv7vs_color: var(--token-ZIFCrJhIsE1W);
  --mixin-19jEIW3Fv7vs_font-size: 23px;
  --mixin-19jEIW3Fv7vs_font-weight: 700;
  --mixin-19jEIW3Fv7vs_line-height: 28px;
  --mixin-19jEIW3Fv7vs_font-family: "Inter", sans-serif;
  --mixin-19jEIW3Fv7vs_letter-spacing: -1%;
  --mixin-19jEIW3Fv7vs_white-space: pre-wrap;
  --mixin-9HzbpN7z6WMD_color: #0070f3;
  --mixin-9HzbpN7z6WMD_white-space: pre-wrap;
  --mixin-C77UZ4TJViY-_color: var(--token-ZIFCrJhIsE1W);
  --mixin-C77UZ4TJViY-_font-size: 20px;
  --mixin-C77UZ4TJViY-_font-weight: 700;
  --mixin-C77UZ4TJViY-_line-height: 24px;
  --mixin-C77UZ4TJViY-_letter-spacing: -1%;
  --mixin-C77UZ4TJViY-_font-family: "Inter", sans-serif;
  --mixin-C77UZ4TJViY-_white-space: pre-wrap;
  --mixin-jyCMRcrcVKPD_color: var(--token-ZIFCrJhIsE1W);
  --mixin-jyCMRcrcVKPD_font-size: 18px;
  --mixin-jyCMRcrcVKPD_font-weight: 700;
  --mixin-jyCMRcrcVKPD_line-height: 24px;
  --mixin-jyCMRcrcVKPD_letter-spacing: -1%;
  --mixin-jyCMRcrcVKPD_font-family: "Inter", sans-serif;
  --mixin-jyCMRcrcVKPD_white-space: pre-wrap;
  --mixin-gA10pDWHKHXj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gA10pDWHKHXj_border-bottom-color: #dddddd;
  --mixin-gA10pDWHKHXj_border-bottom-style: solid;
  --mixin-gA10pDWHKHXj_border-bottom-width: 1px;
  --mixin-gA10pDWHKHXj_border-left-color: #dddddd;
  --mixin-gA10pDWHKHXj_border-left-style: solid;
  --mixin-gA10pDWHKHXj_border-left-width: 1px;
  --mixin-gA10pDWHKHXj_border-right-color: #dddddd;
  --mixin-gA10pDWHKHXj_border-right-style: solid;
  --mixin-gA10pDWHKHXj_border-right-width: 1px;
  --mixin-gA10pDWHKHXj_border-top-color: #dddddd;
  --mixin-gA10pDWHKHXj_border-top-style: solid;
  --mixin-gA10pDWHKHXj_border-top-width: 1px;
  --mixin-gA10pDWHKHXj_border-bottom-left-radius: 3px;
  --mixin-gA10pDWHKHXj_border-bottom-right-radius: 3px;
  --mixin-gA10pDWHKHXj_border-top-left-radius: 3px;
  --mixin-gA10pDWHKHXj_border-top-right-radius: 3px;
  --mixin-gA10pDWHKHXj_font-family: "Inconsolata";
  --mixin-gA10pDWHKHXj_padding-bottom: 1px;
  --mixin-gA10pDWHKHXj_padding-left: 4px;
  --mixin-gA10pDWHKHXj_padding-right: 4px;
  --mixin-gA10pDWHKHXj_padding-top: 1px;
  --mixin-gA10pDWHKHXj_white-space: pre-wrap;
  --mixin-OnyxbHz7Hlse_border-left-color: #dddddd;
  --mixin-OnyxbHz7Hlse_border-left-style: solid;
  --mixin-OnyxbHz7Hlse_border-left-width: 3px;
  --mixin-OnyxbHz7Hlse_color: #888888;
  --mixin-OnyxbHz7Hlse_padding-left: 10px;
  --mixin-OnyxbHz7Hlse_white-space: pre-wrap;
  --mixin-7zVQ6Gjm4gtt_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7zVQ6Gjm4gtt_border-bottom-color: #dddddd;
  --mixin-7zVQ6Gjm4gtt_border-bottom-style: solid;
  --mixin-7zVQ6Gjm4gtt_border-bottom-width: 1px;
  --mixin-7zVQ6Gjm4gtt_border-left-color: #dddddd;
  --mixin-7zVQ6Gjm4gtt_border-left-style: solid;
  --mixin-7zVQ6Gjm4gtt_border-left-width: 1px;
  --mixin-7zVQ6Gjm4gtt_border-right-color: #dddddd;
  --mixin-7zVQ6Gjm4gtt_border-right-style: solid;
  --mixin-7zVQ6Gjm4gtt_border-right-width: 1px;
  --mixin-7zVQ6Gjm4gtt_border-top-color: #dddddd;
  --mixin-7zVQ6Gjm4gtt_border-top-style: solid;
  --mixin-7zVQ6Gjm4gtt_border-top-width: 1px;
  --mixin-7zVQ6Gjm4gtt_border-bottom-left-radius: 3px;
  --mixin-7zVQ6Gjm4gtt_border-bottom-right-radius: 3px;
  --mixin-7zVQ6Gjm4gtt_border-top-left-radius: 3px;
  --mixin-7zVQ6Gjm4gtt_border-top-right-radius: 3px;
  --mixin-7zVQ6Gjm4gtt_font-family: "Inconsolata";
  --mixin-7zVQ6Gjm4gtt_padding-bottom: 3px;
  --mixin-7zVQ6Gjm4gtt_padding-left: 6px;
  --mixin-7zVQ6Gjm4gtt_padding-right: 6px;
  --mixin-7zVQ6Gjm4gtt_padding-top: 3px;
  --mixin-7zVQ6Gjm4gtt_white-space: pre-wrap;
  --mixin-WU1o4za26V8k_display: flex;
  --mixin-WU1o4za26V8k_flex-direction: column;
  --mixin-WU1o4za26V8k_align-items: stretch;
  --mixin-WU1o4za26V8k_justify-content: flex-start;
  --mixin-WU1o4za26V8k_list-style-position: outside;
  --mixin-WU1o4za26V8k_padding-left: 40px;
  --mixin-WU1o4za26V8k_position: relative;
  --mixin-WU1o4za26V8k_list-style-type: disc;
  --mixin-WU1o4za26V8k_white-space: pre-wrap;
  --mixin-7G7eI4ff3wyV_display: flex;
  --mixin-7G7eI4ff3wyV_flex-direction: column;
  --mixin-7G7eI4ff3wyV_align-items: stretch;
  --mixin-7G7eI4ff3wyV_justify-content: flex-start;
  --mixin-7G7eI4ff3wyV_list-style-position: outside;
  --mixin-7G7eI4ff3wyV_padding-left: 40px;
  --mixin-7G7eI4ff3wyV_position: relative;
  --mixin-7G7eI4ff3wyV_list-style-type: decimal;
  --mixin-7G7eI4ff3wyV_white-space: pre-wrap;
  --mixin-MEjQwLgSTDMR_color: var(--token-OfbaXcC0FuxZ);
  --mixin-MEjQwLgSTDMR_font-size: 16px;
  --mixin-MEjQwLgSTDMR_font-weight: 600;
  --mixin-MEjQwLgSTDMR_line-height: 20px;
  --mixin-MEjQwLgSTDMR_letter-spacing: -1%;
  --mixin-MEjQwLgSTDMR_font-family: "Inter", sans-serif;
  --mixin-MEjQwLgSTDMR_white-space: pre-wrap;
  --mixin-ZgH_d3dk3CoK_color: var(--token-ZIFCrJhIsE1W);
  --mixin-ZgH_d3dk3CoK_font-size: 14px;
  --mixin-ZgH_d3dk3CoK_font-weight: 600;
  --mixin-ZgH_d3dk3CoK_line-height: 20px;
  --mixin-ZgH_d3dk3CoK_letter-spacing: 1%;
  --mixin-ZgH_d3dk3CoK_font-family: "Inter", sans-serif;
  --mixin-ZgH_d3dk3CoK_white-space: pre-wrap;
  --mixin-bvNVAmL-cnK1_color: #3291ff;
  --mixin-bvNVAmL-cnK1_white-space: pre-wrap;
  --mixin-_uAjN82UPxMr_white-space: pre-wrap;
  --mixin-pLMiJvvvaiw7_color: var(--token-E9L6J34Bnp3r);
  --mixin-pLMiJvvvaiw7_font-family: "Inter", sans-serif;
  --mixin-pLMiJvvvaiw7_font-weight: 500;
  --mixin-pLMiJvvvaiw7_font-size: 16px;
  --mixin-pLMiJvvvaiw7_line-height: 24px;
  --mixin-pLMiJvvvaiw7_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin--M5_vB4Bi49s_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin--M5_vB4Bi49s_white-space);
  --mixin-JxxhrfDILFia_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-JxxhrfDILFia_white-space);
  --mixin-bk6SqEJ5j1Xb_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-bk6SqEJ5j1Xb_box-shadow);
  --mixin-bk6SqEJ5j1Xb_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-bk6SqEJ5j1Xb_white-space
  );
  --mixin-D57bFKotLH-G_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-D57bFKotLH-G_white-space);
  --mixin-a6h5BCFlg2sg_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-a6h5BCFlg2sg_white-space);
  --mixin-pf5nKN8YPRy9_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-pf5nKN8YPRy9_box-shadow
  );
  --mixin-pf5nKN8YPRy9_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-pf5nKN8YPRy9_white-space
  );
  --mixin-bL-3-15Qpain_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-bL-3-15Qpain_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-m6SKYzEzE1sQ_font-family);
  font-size: var(--mixin-m6SKYzEzE1sQ_font-size);
  font-weight: var(--mixin-m6SKYzEzE1sQ_font-weight);
  font-style: var(--mixin-m6SKYzEzE1sQ_font-style);
  color: var(--mixin-m6SKYzEzE1sQ_color);
  text-align: var(--mixin-m6SKYzEzE1sQ_text-align);
  text-transform: var(--mixin-m6SKYzEzE1sQ_text-transform);
  line-height: var(--mixin-m6SKYzEzE1sQ_line-height);
  letter-spacing: var(--mixin-m6SKYzEzE1sQ_letter-spacing);
  white-space: var(--mixin-m6SKYzEzE1sQ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-5TzxIHY96QTY_color);
  font-weight: var(--mixin-5TzxIHY96QTY_font-weight);
  font-size: var(--mixin-5TzxIHY96QTY_font-size);
  line-height: var(--mixin-5TzxIHY96QTY_line-height);
  letter-spacing: var(--mixin-5TzxIHY96QTY_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-19jEIW3Fv7vs_color);
  font-size: var(--mixin-19jEIW3Fv7vs_font-size);
  font-weight: var(--mixin-19jEIW3Fv7vs_font-weight);
  line-height: var(--mixin-19jEIW3Fv7vs_line-height);
  font-family: var(--mixin-19jEIW3Fv7vs_font-family);
  letter-spacing: var(--mixin-19jEIW3Fv7vs_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-9HzbpN7z6WMD_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-C77UZ4TJViY-_color);
  font-size: var(--mixin-C77UZ4TJViY-_font-size);
  font-weight: var(--mixin-C77UZ4TJViY-_font-weight);
  line-height: var(--mixin-C77UZ4TJViY-_line-height);
  letter-spacing: var(--mixin-C77UZ4TJViY-_letter-spacing);
  font-family: var(--mixin-C77UZ4TJViY-_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-jyCMRcrcVKPD_color);
  font-size: var(--mixin-jyCMRcrcVKPD_font-size);
  font-weight: var(--mixin-jyCMRcrcVKPD_font-weight);
  line-height: var(--mixin-jyCMRcrcVKPD_line-height);
  letter-spacing: var(--mixin-jyCMRcrcVKPD_letter-spacing);
  font-family: var(--mixin-jyCMRcrcVKPD_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-gA10pDWHKHXj_font-family);
  border-radius: var(--mixin-gA10pDWHKHXj_border-top-left-radius)
    var(--mixin-gA10pDWHKHXj_border-top-right-radius)
    var(--mixin-gA10pDWHKHXj_border-bottom-right-radius)
    var(--mixin-gA10pDWHKHXj_border-bottom-left-radius);
  padding: var(--mixin-gA10pDWHKHXj_padding-top)
    var(--mixin-gA10pDWHKHXj_padding-right)
    var(--mixin-gA10pDWHKHXj_padding-bottom)
    var(--mixin-gA10pDWHKHXj_padding-left);
  border-top: var(--mixin-gA10pDWHKHXj_border-top-width)
    var(--mixin-gA10pDWHKHXj_border-top-style)
    var(--mixin-gA10pDWHKHXj_border-top-color);
  border-right: var(--mixin-gA10pDWHKHXj_border-right-width)
    var(--mixin-gA10pDWHKHXj_border-right-style)
    var(--mixin-gA10pDWHKHXj_border-right-color);
  border-bottom: var(--mixin-gA10pDWHKHXj_border-bottom-width)
    var(--mixin-gA10pDWHKHXj_border-bottom-style)
    var(--mixin-gA10pDWHKHXj_border-bottom-color);
  border-left: var(--mixin-gA10pDWHKHXj_border-left-width)
    var(--mixin-gA10pDWHKHXj_border-left-style)
    var(--mixin-gA10pDWHKHXj_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-OnyxbHz7Hlse_color);
  padding-left: var(--mixin-OnyxbHz7Hlse_padding-left);
  border-left: var(--mixin-OnyxbHz7Hlse_border-left-width)
    var(--mixin-OnyxbHz7Hlse_border-left-style)
    var(--mixin-OnyxbHz7Hlse_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7zVQ6Gjm4gtt_font-family);
  border-radius: var(--mixin-7zVQ6Gjm4gtt_border-top-left-radius)
    var(--mixin-7zVQ6Gjm4gtt_border-top-right-radius)
    var(--mixin-7zVQ6Gjm4gtt_border-bottom-right-radius)
    var(--mixin-7zVQ6Gjm4gtt_border-bottom-left-radius);
  padding: var(--mixin-7zVQ6Gjm4gtt_padding-top)
    var(--mixin-7zVQ6Gjm4gtt_padding-right)
    var(--mixin-7zVQ6Gjm4gtt_padding-bottom)
    var(--mixin-7zVQ6Gjm4gtt_padding-left);
  border-top: var(--mixin-7zVQ6Gjm4gtt_border-top-width)
    var(--mixin-7zVQ6Gjm4gtt_border-top-style)
    var(--mixin-7zVQ6Gjm4gtt_border-top-color);
  border-right: var(--mixin-7zVQ6Gjm4gtt_border-right-width)
    var(--mixin-7zVQ6Gjm4gtt_border-right-style)
    var(--mixin-7zVQ6Gjm4gtt_border-right-color);
  border-bottom: var(--mixin-7zVQ6Gjm4gtt_border-bottom-width)
    var(--mixin-7zVQ6Gjm4gtt_border-bottom-style)
    var(--mixin-7zVQ6Gjm4gtt_border-bottom-color);
  border-left: var(--mixin-7zVQ6Gjm4gtt_border-left-width)
    var(--mixin-7zVQ6Gjm4gtt_border-left-style)
    var(--mixin-7zVQ6Gjm4gtt_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-WU1o4za26V8k_display);
  flex-direction: var(--mixin-WU1o4za26V8k_flex-direction);
  align-items: var(--mixin-WU1o4za26V8k_align-items);
  justify-content: var(--mixin-WU1o4za26V8k_justify-content);
  list-style-position: var(--mixin-WU1o4za26V8k_list-style-position);
  padding-left: var(--mixin-WU1o4za26V8k_padding-left);
  position: var(--mixin-WU1o4za26V8k_position);
  list-style-type: var(--mixin-WU1o4za26V8k_list-style-type);
  flex-column-gap: var(--mixin-WU1o4za26V8k_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7G7eI4ff3wyV_display);
  flex-direction: var(--mixin-7G7eI4ff3wyV_flex-direction);
  align-items: var(--mixin-7G7eI4ff3wyV_align-items);
  justify-content: var(--mixin-7G7eI4ff3wyV_justify-content);
  list-style-position: var(--mixin-7G7eI4ff3wyV_list-style-position);
  padding-left: var(--mixin-7G7eI4ff3wyV_padding-left);
  position: var(--mixin-7G7eI4ff3wyV_position);
  list-style-type: var(--mixin-7G7eI4ff3wyV_list-style-type);
  flex-column-gap: var(--mixin-7G7eI4ff3wyV_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-MEjQwLgSTDMR_color);
  font-size: var(--mixin-MEjQwLgSTDMR_font-size);
  font-weight: var(--mixin-MEjQwLgSTDMR_font-weight);
  line-height: var(--mixin-MEjQwLgSTDMR_line-height);
  letter-spacing: var(--mixin-MEjQwLgSTDMR_letter-spacing);
  font-family: var(--mixin-MEjQwLgSTDMR_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ZgH_d3dk3CoK_color);
  font-size: var(--mixin-ZgH_d3dk3CoK_font-size);
  font-weight: var(--mixin-ZgH_d3dk3CoK_font-weight);
  line-height: var(--mixin-ZgH_d3dk3CoK_line-height);
  letter-spacing: var(--mixin-ZgH_d3dk3CoK_letter-spacing);
  font-family: var(--mixin-ZgH_d3dk3CoK_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bvNVAmL-cnK1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-pLMiJvvvaiw7_color);
  font-family: var(--mixin-pLMiJvvvaiw7_font-family);
  font-weight: var(--mixin-pLMiJvvvaiw7_font-weight);
  font-size: var(--mixin-pLMiJvvvaiw7_font-size);
  line-height: var(--mixin-pLMiJvvvaiw7_line-height);
}
