.root:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-height: 100vh;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.loadingBoundary:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px 8px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: #8888881a;
  flex-shrink: 0;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  display: block;
  align-self: auto;
  min-width: 0;
  padding: 16px;
}
